*.js linguist-detectable=true      
*.html linguist-detectable=true    
*.css linguist-detectable=true 
*.sql linguist-detectable=true  
*.xml linguist-detectable=false  
*.jsx linguist-detectable=false  
*.tsx linguist-detectable=false  
*.rtf linguist-detectable=false
